{% extends 'core/base.html' %}

{% block titulo %}
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow p-4 rounded">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2 class="card-title text-center mb-4" style="color: #1a1a1a;">Registrar nuevo usuario</h2>
                        <div class="mb-3">
                            <label for="nombre" class="form-label" style="color: #1a1a1a;">Nombre:</label>
                            <input type="text" class="form-control form-control-lg" id="nombre" name="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="nacimiento" class="form-label" style="color: #1a1a1a;">Fecha de nacimiento:</label>
                            <input type="date" class="form-control form-control-lg" id="nacimiento" name="nacimiento">
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label" style="color: #1a1a1a;">Teléfono:</label>
                            <input type="tel" class="form-control form-control-lg" id="telefono" name="telefono">
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label" style="color: #1a1a1a;">Correo:</label>
                            <input type="email" class="form-control form-control-lg" id="correo" name="correo">
                        </div>
                        <div class="mb-3">
                            <label for="usuario" class="form-label" style="color: #1a1a1a;">Usuario:</label>
                            <input type="text" class="form-control form-control-lg" id="usuario" name="usuario">
                        </div>
                        <div class="mb-3">
                            <label for="contraseña" class="form-label" style="color: #1a1a1a;">Contraseña:</label>
                            <input type="password" class="form-control form-control-lg" id="contraseña" name="contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}