{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    <h1 style="color: #1a1a1a;">🌸Programa Mi Mejor Versión🌸</h1>        
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <header class="text-center py-5">
            <div class="bg-light p-4 rounded">
                <h1 class="fw-bolder mb-4" style="color: #1a1a1a;">Potenciando la voz interior que me impulsa a ser mejor</h1>
                <p class="lead mb-4" style="color: #1a1a1a;">Programa diseñado para mujeres que sufren con el exceso de pensamiento y la ansiedad</p>
                <a class="btn btn-lg btn-primary" href="https://wa.me/56986928255" target="_blank">Escríbeme aquí 🤗!</a>
            </div>
        </header>
        <!-- About section-->
        <section id="frases-inspiradoras" class="py-5">
            <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                <div class="col">
                    <div class="card h-100" style="background-color: #fff; border-color: #ff9966;">
                        <div class="card-body">
                            <h2 class="card-title" style="color: #1a1a1a;">Frases inspiradoras</h2>
                            <p class="card-text" style="color: #1a1a1a;">"El mayor regalo que puedes darte a ti misma es la autorización para vivir una vida de tus sueños ☁"</p>
                            <p class="card-text" style="color: #1a1a1a;">- Oprah Winfrey</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" style="background-color: #fff; border-color: #ff9966;">
                        <div class="card-body">
                            <h2 class="card-title" style="color: #1a1a1a;">Frases inspiradoras</h2>
                            <p class="card-text" style="color: #1a1a1a;">"No esperes a que las oportunidades te encuentren, ¡ve y créalas! 🔥"</p>
                            <p class="card-text" style="color: #1a1a1a;">- Madam C.J. Walker</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" style="background-color: #fff; border-color: #ff9966;">
                        <div class="card-body">
                            <h2 class="card-title" style="color: #1a1a1a;">Frases inspiradoras</h2>
                            <p class="card-text" style="color: #1a1a1a;">"Si no me levanto, si no empiezo a cambiar las cosas, nunca cambiarán 💪"</p>
                            <p class="card-text" style="color: #1a1a1a;">- Alice Walker</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock contenido %}